body {
    background-image: url("../img/airline.jpg");
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
    
header {
    border-bottom: 2px solid #AFBAC3;
    background-color: #213A53;
    width: 100%;
    display: flex;
}
    
.topnav {
    margin: 0 auto;
    list-style-type: none;
    float: right;
}
    
.topnav > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    position: relative;
    top: 30px;
}

.topnav >a:hover {
    color: #008D80;
}

/* icons */

.container {
    width: 450px;
    height: 450px;
    margin: 120px 0px 0px 70px;
    background-color: #123754;
    position: relative;
}
    
.icon {
    position: relative;
    width: 33%;
    padding: 0;
    background-color: #008D80;
    float: left;
}

.icon:hover{
    background-color: #0263B7;
}
    
.container img {
    display: block;
    margin: 0 auto;
}

/* content box */

input {
    margin: 10px;
}

#depart, #arrive, #date{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 25px;
}

.row1 {
    width: 100%;
    margin-left: 5%;
    position: absolute;
    top: 35%;
    padding: 20px;
}

.row2 {
    width: 100%;
    margin-left: 5%;
    position: absolute;
    top: 50%;
    padding: 20px;
}

.row3 {
    width: 100%;
    margin-left: 8.5%;
    color: white;
    position: absolute;
    top: 65%;
    font-size: 13px;
}

select {
    border-radius: 5px;
    border: 1px solid white;
    width: 8%;
    padding: 12px 20px;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 8.5%;
    position: absolute;
    background-color: #0263B7;
    top: 75%;
    width: 30%;
    padding: 10px;
}