body {
    background-image: url("../img/airline.jpg");
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #213A53;
    width: 100%;
    display: flex;
}

.topnav {
    margin: 0 auto;
    list-style-type: none;
    float: right;
}

a {
    color: white;
    text-decoration: none;
    padding: 25px;
    position: relative;
    top: 30px;
    font-size: 13px;
}

a:hover {
    color: lightseagreen;
}

img {
    padding-right: 5px;
}