/* section names */
.box1 {
    grid-area: box1;
    background-color:#FBF8D4;
    color: white;
}

.box2 {
    grid-area: box2;
    background-color: #BDBDB1;
}

.box3 {
    grid-area: box3;
    background-color: #DF4E63;
}
.box3 h2 {
    color:#FBF8D4 !important;
}

.box4 {
    grid-area: box4;
    background-color: #FBF8D4;
}

#nav {
    grid-area: navv;
}

body {
    color:#FBF8D4; 
    font-family: 'Roboto', sans-serif; 
    margin: 0 auto;
}

#top {
    background: #DBE7B2; 
    margin: 0 auto;
}

header img {
    float: right;
    justify-content: flex-end;
    grid-area: pic;
}

header {
    padding: 40px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
    "name pic"
    "sub pic"
}

h1 {
    grid-area: name;
    font-size:100px; 
    font-weight:900; 
    margin-top: 50px;
    text-shadow: 2px 2px #DF4E63;
}

h3{
    grid-area: sub;
    font-size: 40px;
    font-weight: 900;
    color: #242B5C;
    text-shadow: 1px 1px white;
}

b {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px #DF4E63;
}
/* nav only */
.navbar {
    margin: 0 auto;
    background-color: darkolivegreen;
    padding: 10px;
}

nav ul {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    grid-template-areas: 
    "navv navv navv navv ."
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    color: #FBF8D4;
}

a:hover {
    color: #DF4E63;
    background-color: #DBE7B2;
    opacity: .6;
    border-radius: 12px;
}

/* body */

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box2"
    "box1 box2"
    "box3 box3"
    "box4 box4"
}

.box {
    height: 100vh;
    text-align: right;
}

h2 {
    font-size:140px; 
    font-weight:900; 
    margin:0px 25px;
    color: #DF4E63;
}

p { 
    padding: 3px;
    font-size: 20px; 
}