body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.flexcontainer {
    /* border: 2px solid red; */
    width: 850px;
}

.main {
    margin: 0 auto;
    /* border: 2px solid blue; */
    background-image: url(../img/nasa-background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 450px;
    margin-bottom: 20px;
}

.main > h1 {
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 80px;
}

section {
    display: flex;
    flex-direction: row;
    /* border: 2px solid hotpink; */
    justify-content: space-evenly;
    width: 850px;
    height: 325px;
    background-color: #E6E6E6;
    font-size: 15px;
    line-height: 30px;
}

h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.social >h3 {
    text-transform: none !important;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

.contact {
    display: flex;
    align-items: space-around;
    flex-direction: column;
}

textarea{
    margin: 0 0 10px 0;
    padding: 10px;
}

button {
    background-color: #4D4D4D;
    color: white;
    font-size: 18px;
    width: 35%;
    height: 10%;
}
