body {
    background-image: url(../img/yel.jpg);
    background-size: cover;
    width: 100%;
    font-family: Architects Daughter;
}

header {
    text-align: center;
    font-size: 50px;
    color: white;
}

img {
    width: 100%;
}

.checked {
    color: orange;
}

/* box names */
.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}

.box7 {
    grid-area: box7;
}

.box8 {
    grid-area: box8;
}

.box9 {
    grid-area: box9;
}

.box10 {
    grid-area: box10;
}

/* content names */

img {
    grid-area: img;
}

p {
    grid-area: p;
}

.active {
    grid-area: share;
    display: flex;
    justify-content: space-between;
}

/* detail for links and buttons */
button {
    grid-area: button;
    height: 70%;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 13px;
    font-family: Architects Daughter;
}

a{
    color: black;
}
.fa-heart:hover {
   color: red;
}

.fa-thumbs-up:hover {
   color: royalblue;
}

button:hover {
    border: 3px solid #4BA964;
    color:#4BA964;
}

/* layout and media change */
article {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "box1 box1 box2 box2"
    "box3 box3 box4 box5"
    "box3 box3 box4 box5"
    "box3 box3 box6 box6"
    "box7 box8 box9 box10"
}

/* desktop content grid layout */

.box1, .box2, .box6 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3px;
    grid-template-areas:
    "img p"
    "img share"
}


/* tablet view */
@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
        "box1 box1"
        "box1 box1"
        "box2 box3"
        "box2 box3"
        "box4 box4"
        "box5 box6"
        "box5 box6" 
        "box7 box7"
        "box8 box9"
        "box8 box9"
        "box10 box10"
    }

    .box {
        display: block;
    }

    .box4, .box7, .box10 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3px;
        grid-template-areas:
        "img p"
        "img share"
    }
}

/* phone view */
@media (max-width: 576px) {
    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas: 
        "box1" 
        "box2"
        "box3"
        "box4"
        "box5"
        "box6"
        "box7" 
        "box8" 
        "box9" 
        "box10"
    }

    .box {
        display: block;
    }
}