body {
    background-image: url(../edd.jpg);
}

h1 {
    font-size: 60px;
}
header {
    padding: 30px;
    color: whitesmoke;
    text-shadow: 1px 2px black;
    font-family: Impact;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid none;
    border-radius: 12px;
    background-color: navy;
    opacity: 0.7;
    padding: 25px;
    width: 60%;
    color: whitesmoke;
}

h3 {    
    text-align: left;
}

footer {
    background-color: black;
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: whitesmoke;
    font-size: 20px;
}