body {
    background-image: url(../brick.jpeg);
}

header {
    background-color: transparent;
    padding: 30px;
    color: wheat;
    text-shadow: 1px 2px black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

main {
    border: 1px solid none;
    background-color: wheat;
    padding: 25px;
    width: 45%;
}

h3 {    
    text-align: left;
}

article {
    color: white;
}