body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    font-family: Delius Unicase; 
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
    /* flex-grow: 1;
    flex-shrink: 1; */
}
/* Header, Social Media & Nav Bar */
header {
    background-color: whitesmoke;
    opacity: 0.6;
    position: fixed;
    display: flex;
    font-size: 14px;
    width: 100%;
    color: #323C50;
}

header a{
    text-decoration: none;
    color: #361D14;
}

aside {
    position: fixed;
    top: 15%;
    padding: 3%;
}    

.fab {
    color: #C9A17E;
    text-shadow: none !important;
}

.fab:hover{
    color: #323C50;;
}

h1 {
    display: flex;
    justify-content: flex-start;
    flex: 2;
    padding-left: 10%;

}

nav {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

nav :hover {
    color: #C9A17E;
}

ul a {
    text-decoration: none;
    width: 40px;
    color: #361D14;
}
/* general box content style */
.box {
    color: #414141;
    text-align: center;
    justify-content: center;
    padding: 1%;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

/* each box in order, top-to-bottom */

.container > p {
    padding-top: 3%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.box1 {
    margin-top: 5%;
    border: none;
    background-image: url("../img/bowl.jpg");
    background-size: cover;
    min-height: 90%;
}

.box1 >p{
    color:#4D6280;
    text-shadow: 2px 4px #323C50;
    font-size: 70px;
    padding-top: 15%;
}

strong {
    padding: 3%;
}

.median {
    padding-top: 5%;
    color: #323C50;
    text-align: center;
    font-size: 30px;
}

.box2 {
    color: #323C50;
    font-size: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.box3 {
    margin-top: 25%;
    background-color: #D9D1C9;
    padding: 2% 15%;
    font-size: 15px;
}

.box3 >h2 {
    font-size: 45px;
}

.box3 >p {
    text-shadow: none !important;
}

.pupimages {
    display:flex;
    justify-content: space-evenly;
}

article:nth-of-type(3) img{
    border: 5px double #C9A17E;    
    border-radius: 8%;
    background-color: #FDF0DF;
 }

.box4 {
    background-color: #4D6280;
}

h3 {
    color: #C9A17E;
    font-size: 30px;
    padding-top: 5%;
}

.maps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10%;
}

#north, #south {
    padding: 2%;
}

h4 {
    font-size: 20px;
    color: #F0DFCB;
}

.box5 {
    color: whitesmoke;
    font-size: 8px;
    background-color: #323C50;
    width: 100vw;
    padding: 10px;
    top: 150px
}

.contacts {
    font-size: 20px;
}